flows.json
[
    {
        "id": "62403d7ab629bda7",
        "type": "tab",
        "label": "Variables",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "484f7e34439765a5",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6bd4386c39e3eb95",
        "type": "tab",
        "label": "mySql",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8fdafe46424ef527",
        "type": "tab",
        "label": "TuesdayWork(12-7-2022)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8afa890fa624105a",
        "type": "MySQLdatabase",
        "name": "localhost",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "android",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "5e3de42f.1e83bc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "8080",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "92a9cd27.99b9d",
        "type": "ui_group",
        "name": "Test1",
        "tab": "29141e28bbf91d6f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6bcaee2a9503cef3",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c5cb0bc5403feab6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": "",
        "tls": "26500c142891678b",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4f5f9ec8f9396178",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "26500c142891678b",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "29141e28bbf91d6f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9ff909043d291326",
        "type": "ui_group",
        "name": "Speedo Meter",
        "tab": "29141e28bbf91d6f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "bbd0f946f544a60d",
        "type": "ui_group",
        "name": "Add Student",
        "tab": "29141e28bbf91d6f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d1dfa0ed33c1ff8b",
        "type": "AnamicoAlarmPanel",
        "name": "Morning Alarm"
    },
    {
        "id": "da26ed7746bfb9b4",
        "type": "ui_tab",
        "name": "Speedo Meter",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "928a31b8ab14be27",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/",
        "instancehash": "p42n06sz1en40u6zsp2rtdwv4nhlrbsl16un6o9o3li7kuqaedhx2iguy5f3zvsm",
        "server": "nodered03.remote-red.com",
        "region": "us"
    },
    {
        "id": "323db425adbf8f14",
        "type": "ui_tab",
        "name": "Login form",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7aa3194d7fa6f75d",
        "type": "ui_group",
        "name": "Login ",
        "tab": "323db425adbf8f14",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5be74984d135973b",
        "type": "ui_group",
        "name": "Firebase Data",
        "tab": "f39361ab47754716",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f39361ab47754716",
        "type": "ui_tab",
        "name": "Firebase Data ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "aa5aed180f8a33b1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a5e25bc5504b2641",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "Nadeem"
    },
    {
        "id": "c60204d3e7671048",
        "type": "inject",
        "z": "62403d7ab629bda7",
        "name": "Senssor1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "da2bc7f70c8f868c"
            ]
        ]
    },
    {
        "id": "671431171dcdf848",
        "type": "debug",
        "z": "62403d7ab629bda7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "da2bc7f70c8f868c",
        "type": "function",
        "z": "62403d7ab629bda7",
        "name": "Function1",
        "func": "var count=context.get('Count') || 0;\ncount +=1;\nmsg.payload=\"F1 \"+msg.payload+\" \"+count;\ncontext.set('Count', count);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 40,
        "wires": [
            [
                "671431171dcdf848"
            ]
        ]
    },
    {
        "id": "9f873012cf5ea342",
        "type": "inject",
        "z": "62403d7ab629bda7",
        "name": "Senssor2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "7de5342f0879ceac"
            ]
        ]
    },
    {
        "id": "7de5342f0879ceac",
        "type": "function",
        "z": "62403d7ab629bda7",
        "name": "Function2",
        "func": "var count =context.get('count') || 0;\ncount +=1;\nmsg.payload=\"F2 \"+msg.payload+\" \"+count;\ncontext.set('count', count);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "c48c7b7a4add6ca6"
            ]
        ]
    },
    {
        "id": "c48c7b7a4add6ca6",
        "type": "debug",
        "z": "62403d7ab629bda7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "79b91e33117044ec",
        "type": "inject",
        "z": "62403d7ab629bda7",
        "name": "Senssor3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "7f437c57137621ca"
            ]
        ]
    },
    {
        "id": "7f437c57137621ca",
        "type": "function",
        "z": "62403d7ab629bda7",
        "name": "Multiple",
        "func": "var count1 =context.get('count1') || 0;\nvar count2 =context.get('count2') || 0;\ncount1 +=1;\ncount2 +=2;\n\nmsg.payload=\"F3 \"+msg.payload+\" \"+count1 +\" \"+count2;\ncontext.set('count1', count1);\ncontext.set('count2', count2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 200,
        "wires": [
            [
                "297e6e671532fe7a"
            ]
        ]
    },
    {
        "id": "297e6e671532fe7a",
        "type": "debug",
        "z": "62403d7ab629bda7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "f6ce7e0842eeda40",
        "type": "inject",
        "z": "62403d7ab629bda7",
        "name": "Senssor4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "d314b176f4ea381d"
            ]
        ]
    },
    {
        "id": "d314b176f4ea381d",
        "type": "function",
        "z": "62403d7ab629bda7",
        "name": "Uses Object",
        "func": "var local =context.get('data') || {};\nif(local.count===undefined)\n{\n    local.count=0;\n}\nlocal.count +=1;\n\nmsg.payload=\"F4 \"+msg.payload+\" \"+local.count;\ncontext.set('data', local);\n// context.set('count2', count2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 280,
        "wires": [
            [
                "a804f0bbcd6a8ac2"
            ]
        ]
    },
    {
        "id": "a804f0bbcd6a8ac2",
        "type": "debug",
        "z": "62403d7ab629bda7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 340,
        "wires": []
    },
    {
        "id": "b9cabfec1da4c392",
        "type": "inject",
        "z": "62403d7ab629bda7",
        "name": "Senssor5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "14a9497d16b36ab2"
            ]
        ]
    },
    {
        "id": "14a9497d16b36ab2",
        "type": "function",
        "z": "62403d7ab629bda7",
        "name": "flow 1",
        "func": "var count =flow.get('count') || 0;\n\ncount +=1;\nmsg.payload=\"F5 \"+msg.payload+\" \"+count;\nflow.set('count', count);\n// context.set('count2', count2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 440,
        "wires": [
            [
                "b3fd536915da9f54"
            ]
        ]
    },
    {
        "id": "b3fd536915da9f54",
        "type": "debug",
        "z": "62403d7ab629bda7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 520,
        "wires": []
    },
    {
        "id": "81c78d42d9263c3b",
        "type": "inject",
        "z": "62403d7ab629bda7",
        "name": "Senssor6",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "e6e80c30f2de415b"
            ]
        ]
    },
    {
        "id": "e6e80c30f2de415b",
        "type": "function",
        "z": "62403d7ab629bda7",
        "name": "flow 2",
        "func": "var count =flow.get('count') || 0;\n\ncount +=2;\nmsg.payload=\"F6 \"+msg.payload+\" \"+count;\nflow.set('count', count);\n// context.set('count2', count2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 520,
        "wires": [
            [
                "a03bf0b64dc1c9dc"
            ]
        ]
    },
    {
        "id": "a03bf0b64dc1c9dc",
        "type": "debug",
        "z": "62403d7ab629bda7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 600,
        "wires": []
    },
    {
        "id": "74070f8e907dc874",
        "type": "ui_button",
        "z": "484f7e34439765a5",
        "name": "",
        "group": "92a9cd27.99b9d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Hi",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "4f73525b0bc29d02",
                "49cea8c1effe9a1d",
                "f2acbb829ab98de8",
                "3ef3aa94ead77582"
            ]
        ]
    },
    {
        "id": "4f73525b0bc29d02",
        "type": "debug",
        "z": "484f7e34439765a5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "49cea8c1effe9a1d",
        "type": "ui_audio",
        "z": "484f7e34439765a5",
        "name": "",
        "group": "92a9cd27.99b9d",
        "voice": "",
        "always": "",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "f2acbb829ab98de8",
        "type": "ui_text",
        "z": "484f7e34439765a5",
        "group": "92a9cd27.99b9d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "f3b8035082c46deb",
        "type": "ui_gauge",
        "z": "484f7e34439765a5",
        "name": "",
        "group": "9ff909043d291326",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Measure Speed",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 500,
        "y": 380,
        "wires": []
    },
    {
        "id": "3ef3aa94ead77582",
        "type": "ui_toast",
        "z": "484f7e34439765a5",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "28dcb2c1947d51fa",
        "type": "ui_slider",
        "z": "484f7e34439765a5",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "9ff909043d291326",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "f3b8035082c46deb",
                "21677a38990cff47",
                "a1c94a7974f84700"
            ]
        ]
    },
    {
        "id": "21677a38990cff47",
        "type": "ui_chart",
        "z": "484f7e34439765a5",
        "name": "",
        "group": "9ff909043d291326",
        "order": 3,
        "width": "4",
        "height": "3",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 470,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "54752619c41ab884",
        "type": "ui_dropdown",
        "z": "484f7e34439765a5",
        "name": "",
        "label": "Select Dpt",
        "tooltip": "",
        "place": "Select option",
        "group": "bbd0f946f544a60d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "IT",
                "value": "1",
                "type": "str"
            },
            {
                "label": "CS",
                "value": "2",
                "type": "str"
            },
            {
                "label": "LAW",
                "value": "3",
                "type": "str"
            },
            {
                "label": "English",
                "value": "4",
                "type": "str"
            },
            {
                "label": "Ecnomics",
                "value": "5",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "f3f75a02912b2efc"
            ]
        ]
    },
    {
        "id": "cb9b067132b10aee",
        "type": "ui_form",
        "z": "484f7e34439765a5",
        "name": "",
        "label": "",
        "group": "bbd0f946f544a60d",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Firstname",
                "value": "Firstname",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Lastname",
                "value": "Lastname",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Firstname": "",
            "Lastname": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "633ba15df769288c"
            ]
        ]
    },
    {
        "id": "f3f75a02912b2efc",
        "type": "ui_dropdown",
        "z": "484f7e34439765a5",
        "name": "",
        "label": "Select Class",
        "tooltip": "",
        "place": "Select option",
        "group": "bbd0f946f544a60d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Morning",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Evening",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "633ba15df769288c"
            ]
        ]
    },
    {
        "id": "633ba15df769288c",
        "type": "debug",
        "z": "484f7e34439765a5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 260,
        "wires": []
    },
    {
        "id": "a1c94a7974f84700",
        "type": "ui_chart",
        "z": "484f7e34439765a5",
        "name": "",
        "group": "9ff909043d291326",
        "order": 3,
        "width": "2",
        "height": "3",
        "label": "chart",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 470,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "4773657eced6c10a",
        "type": "ui_form",
        "z": "484f7e34439765a5",
        "name": "Login form",
        "label": "",
        "group": "7aa3194d7fa6f75d",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "Username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "Password",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Username": "",
            "Password": ""
        },
        "payload": "",
        "submit": "Login",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "x": 110,
        "y": 540,
        "wires": [
            [
                "a77241e5c67375da"
            ]
        ]
    },
    {
        "id": "d7cfefd77d1300e3",
        "type": "debug",
        "z": "484f7e34439765a5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 540,
        "wires": []
    },
    {
        "id": "539cc65a75ec2746",
        "type": "inject",
        "z": "484f7e34439765a5",
        "name": "Get Data ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Nadeem123",
        "payloadType": "str",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "0b4fd89e5659d3ac"
            ]
        ]
    },
    {
        "id": "0b4fd89e5659d3ac",
        "type": "http request",
        "z": "484f7e34439765a5",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://fir-connect-fec84-default-rtdb.firebaseio.com/new_Array.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 600,
        "wires": [
            [
                "c808dbac7ec8db53"
            ]
        ]
    },
    {
        "id": "c808dbac7ec8db53",
        "type": "debug",
        "z": "484f7e34439765a5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 600,
        "wires": []
    },
    {
        "id": "b89d96242e6ffcaf",
        "type": "ui_button",
        "z": "484f7e34439765a5",
        "name": "",
        "group": "5be74984d135973b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Add Data",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 760,
        "wires": [
            [
                "ae5e47632d04dacb",
                "17f9931d8c6947c0",
                "2263927f247b75f0"
            ]
        ]
    },
    {
        "id": "ae5e47632d04dacb",
        "type": "ui_text_input",
        "z": "484f7e34439765a5",
        "name": "",
        "label": "E-mail",
        "tooltip": "",
        "group": "5be74984d135973b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 700,
        "wires": [
            [
                "bb689b135eb5bf1c"
            ]
        ]
    },
    {
        "id": "17f9931d8c6947c0",
        "type": "ui_text_input",
        "z": "484f7e34439765a5",
        "name": "",
        "label": "Name",
        "tooltip": "",
        "group": "5be74984d135973b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 760,
        "wires": [
            [
                "bb689b135eb5bf1c"
            ]
        ]
    },
    {
        "id": "2263927f247b75f0",
        "type": "ui_text_input",
        "z": "484f7e34439765a5",
        "name": "",
        "label": "surName",
        "tooltip": "",
        "group": "5be74984d135973b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 820,
        "wires": [
            [
                "bb689b135eb5bf1c"
            ]
        ]
    },
    {
        "id": "bb689b135eb5bf1c",
        "type": "debug",
        "z": "484f7e34439765a5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 760,
        "wires": []
    },
    {
        "id": "a77241e5c67375da",
        "type": "http request",
        "z": "484f7e34439765a5",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://fir-connect-fec84-default-rtdb.firebaseio.com/Users.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "d7cfefd77d1300e3"
            ]
        ]
    },
    {
        "id": "a69393b4f1565a2e",
        "type": "inject",
        "z": "484f7e34439765a5",
        "name": "Post Data ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Nadeem",
        "payloadType": "str",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "fe721534313184e1"
            ]
        ]
    },
    {
        "id": "fe721534313184e1",
        "type": "http request",
        "z": "484f7e34439765a5",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://fir-connect-fec84-default-rtdb.firebaseio.com/User/-N6HHhusMa3RrQavw9Ai.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 640,
        "wires": [
            [
                "79a15cb7739b1448"
            ]
        ]
    },
    {
        "id": "79a15cb7739b1448",
        "type": "debug",
        "z": "484f7e34439765a5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 640,
        "wires": []
    },
    {
        "id": "31e259b362dd58c1",
        "type": "inject",
        "z": "6bd4386c39e3eb95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Select * from attendance_table;",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "e06cb134a61edd38"
            ]
        ]
    },
    {
        "id": "01168f7b247f66aa",
        "type": "debug",
        "z": "6bd4386c39e3eb95",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "e06cb134a61edd38",
        "type": "mysql",
        "z": "6bd4386c39e3eb95",
        "mydb": "8afa890fa624105a",
        "name": "",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "01168f7b247f66aa"
            ]
        ]
    },
    {
        "id": "a64f2ca848287b47",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "6bd4386c39e3eb95",
        "name": "",
        "account": "a5e25bc5504b2641",
        "text": "hi ",
        "inputtypemessage": "str",
        "rejectssl": false,
        "x": 300,
        "y": 300,
        "wires": [
            [
                "10e5d2053750522b"
            ]
        ]
    },
    {
        "id": "38f9534b5856a341",
        "type": "inject",
        "z": "6bd4386c39e3eb95",
        "name": "Msg1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hi Saqib ,, i has send you msg through node red using whatsapp node.",
        "payloadType": "str",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "a64f2ca848287b47"
            ]
        ]
    },
    {
        "id": "10e5d2053750522b",
        "type": "debug",
        "z": "6bd4386c39e3eb95",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 300,
        "wires": []
    },
    {
        "id": "159ac54c6c211bd9",
        "type": "function",
        "z": "6bd4386c39e3eb95",
        "name": "",
        "func": "var c=\"NAdemm\"\nmsg.payload = c;\nreturn msg.payload;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 380,
        "wires": [
            [
                "5e7f8b239209a47a"
            ]
        ]
    },
    {
        "id": "e98ec94c1831a186",
        "type": "inject",
        "z": "6bd4386c39e3eb95",
        "name": "Msg1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Hi",
        "payload": "Saqib",
        "payloadType": "str",
        "x": 90,
        "y": 380,
        "wires": [
            [
                "159ac54c6c211bd9"
            ]
        ]
    },
    {
        "id": "5e7f8b239209a47a",
        "type": "debug",
        "z": "6bd4386c39e3eb95",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "5f88c54323feda7a",
        "type": "inject",
        "z": "8fdafe46424ef527",
        "name": "msg1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "5870dbd0c8b4673a"
            ]
        ]
    },
    {
        "id": "3ec2cebd614ba746",
        "type": "inject",
        "z": "8fdafe46424ef527",
        "name": "msg2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "5870dbd0c8b4673a"
            ]
        ]
    },
    {
        "id": "467c175d5fb2d470",
        "type": "inject",
        "z": "8fdafe46424ef527",
        "name": "msg3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "29",
        "payloadType": "num",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "5870dbd0c8b4673a"
            ]
        ]
    },
    {
        "id": "5870dbd0c8b4673a",
        "type": "switch",
        "z": "8fdafe46424ef527",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "9bdabd36154449de"
            ],
            [
                "7998446b942f388d"
            ],
            [
                "abf5165b780b9bb4"
            ]
        ]
    },
    {
        "id": "9bdabd36154449de",
        "type": "debug",
        "z": "8fdafe46424ef527",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "abf5165b780b9bb4",
        "type": "debug",
        "z": "8fdafe46424ef527",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "7998446b942f388d",
        "type": "debug",
        "z": "8fdafe46424ef527",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "10bed411dfcde08a",
        "type": "inject",
        "z": "8fdafe46424ef527",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "a9e41dc605bc1b3e"
            ]
        ]
    },
    {
        "id": "a9e41dc605bc1b3e",
        "type": "http request",
        "z": "8fdafe46424ef527",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/attendance",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "c1f87019831ef97d"
            ]
        ]
    },
    {
        "id": "c1f87019831ef97d",
        "type": "debug",
        "z": "8fdafe46424ef527",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "1ceaa63608f2376f",
        "type": "inject",
        "z": "8fdafe46424ef527",
        "name": "GET DATA",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from student_record where id=229",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 460,
        "wires": [
            [
                "850e2f3c9914e2be"
            ]
        ]
    },
    {
        "id": "850e2f3c9914e2be",
        "type": "mysql",
        "z": "8fdafe46424ef527",
        "mydb": "8afa890fa624105a",
        "name": "",
        "x": 360,
        "y": 460,
        "wires": [
            [
                "7800be9cb2d32d95"
            ]
        ]
    },
    {
        "id": "7800be9cb2d32d95",
        "type": "debug",
        "z": "8fdafe46424ef527",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "c37a5f455b928b54",
        "type": "inject",
        "z": "8fdafe46424ef527",
        "name": "POST DATA",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "insert into student_record(address, first_name, last_name, phone_no, available_balance)Values('Pakisatn', 'Farukh', 'ali', '8762387618', '500')",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "26600b58c0d189e2"
            ]
        ]
    },
    {
        "id": "26600b58c0d189e2",
        "type": "mysql",
        "z": "8fdafe46424ef527",
        "mydb": "8afa890fa624105a",
        "name": "",
        "x": 360,
        "y": 540,
        "wires": [
            [
                "c1761677009e5d20"
            ]
        ]
    },
    {
        "id": "c1761677009e5d20",
        "type": "debug",
        "z": "8fdafe46424ef527",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 540,
        "wires": []
    },
    {
        "id": "04257387a781ab05",
        "type": "change",
        "z": "8fdafe46424ef527",
        "name": "Change Node",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Nadeem",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 760,
        "wires": [
            [
                "882970ec01d1f6fe"
            ]
        ]
    },
    {
        "id": "80aa9009745c3436",
        "type": "inject",
        "z": "8fdafe46424ef527",
        "name": "change Text using Change node",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello",
        "payloadType": "str",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "04257387a781ab05",
                "882970ec01d1f6fe"
            ]
        ]
    },
    {
        "id": "882970ec01d1f6fe",
        "type": "debug",
        "z": "8fdafe46424ef527",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 700,
        "wires": []
    },
    {
        "id": "8b649972ddf2051b",
        "type": "inject",
        "z": "8fdafe46424ef527",
        "name": "replace Text using JS function",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello",
        "payloadType": "str",
        "x": 160,
        "y": 920,
        "wires": [
            [
                "7e2a404097d65605"
            ]
        ]
    },
    {
        "id": "7e2a404097d65605",
        "type": "function",
        "z": "8fdafe46424ef527",
        "name": "",
        "func": "msg.payload= \"Nadeem\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 920,
        "wires": [
            [
                "01ee16a567e2b288"
            ]
        ]
    },
    {
        "id": "01ee16a567e2b288",
        "type": "debug",
        "z": "8fdafe46424ef527",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 920,
        "wires": []
    }
]